body{
    background-color: gray;
    padding: 0;
    margin: 0;  
}
.container{
    align-items: center;
    text-align: center;
    margin: 13% 17%;
    display: flex;
    padding: 20px;
    text-align: left;
    width: 900px;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 1.4rem;
    background-color: rgb(209, 209, 209);
    box-shadow: 3px rgb(228, 226, 226);
}
.card{
    width: 44%;
    margin: 5px;
    padding: 30px;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(172, 174, 174);
}
input{
    padding: 10px;
    font-size: 1.2rem;
    border-color: rgba(28, 28, 28, 0);
    border-radius: 10px;
}

.card a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
.btn{
    font-size: 1.4rem;
    background-color: rgb(20, 101, 242);
    color: white;
    padding: 15px 37%;
    border-radius: 14px;
    border: none;
    
}
.description{
    padding: 20px;
}